@model MovieShopProxy.Models.Movie

@{
ViewBag.Title = "Update";
}

<h2>Update</h2>

<form method="post" action="~/Movie/Update" class="col-md-12">
      <input type="hidden" class="form-control" name="Id" value="@Model.Id" hidden>
    <input type="text" class="form-control" name="Title" value="@Model.Title">
    <input type="date" class="form-control" name="ReleaseDate" value="@Model.ReleaseDate.ToString("yyyy-MM-dd")">
    <input type="number" class="form-control" name="Price" value="@Model.Price">
    <input type="text" class="form-control"name="PictureURL" value="@Model.PictureURL">
    <input type="text" class="form-control" name="TrailerURL" value="@Model.TrailerURL">
    <button type="submit" class="btn btn-default"> Update</button>
    </form>


